#streamlit
#streamlit-folium
#folium
#geopandas
#pandas
#matplotlib
#openpyxl
#pygadm
#branca
#pyproj
#shapely
#fiona

# Interface
streamlit==1.25.0
streamlit-folium==0.13.0

# Visualização de mapas
folium==0.14.0
branca==0.6.0

# Manipulação geográfica
geopandas==0.13.2
shapely==2.0.1
pyproj==3.6.1
fiona==1.9.5

# Dados e gráficos
pandas==1.5.3
matplotlib==3.7.1
openpyxl==3.1.2

# Dados administrativos (opcional)
pygadm==0.2.0
